strong {
	font-size: 100% !important;
	line-height: initial !important;
}

ul {
	& > li {
		&:before {
			font-size: initial !important;
		}
	}
}

ol {
	& > li {
		&:before {
			font-size: initial !important;
		}
	}
}

td {
	p {
		font-size: initial !important;
	}
}

.mce-content-body {
	padding: 15px;
}
