
//internal mobile nav icon

.hamburger.menu-icon::after {
  background: gray;
  box-shadow: 0 7px 0 gray, 0 14px 0 gray;
}

button.hamburger.menu-icon {
  background-color: white;
  border: none;
}

li.e-nav-primary__item {
  @media screen and (max-width: 40em) {
    margin-bottom: 0;
  }
}

.cell.auto {
  border-bottom-color: $font-dark-blue2 !important;

  display: none;
}

.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}
