.e-account-payment-method {
	
	margin-bottom: t-rem($s-layout-gutter-mobile-large);

	@include t-respond-to-min(medium){
		
		margin-bottom: t-rem($s-layout-gutter-desktop-large);	
	}

	&__type,
	&__details,
	&__controls {

		margin-bottom: t-rem($s-layout-gutter-mobile-tiny);

		@include t-respond-to-min(medium){
			
			margin-bottom: t-rem($s-layout-gutter-mobile-small);	
		}

		&:last-child {

			margin-bottom: 0;

			@include t-respond-to-min(medium){
				
				margin-bottom: 0;	
			}
		}
	}
}