.e-circled-icon {
    position: relative;
    width: t-rem(246px);
    height: t-rem(246px);
    margin: 0 auto;

    @include t-respond-to-max(medium) {
        width: t-rem(80px);
        height: t-rem(80px);
    }

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #009685
;
        opacity: 0.05;
        transition: opacity 0.3s ease;
        transition-delay: 0.1s;
    }

    &:after {
        content: "";
        position: absolute;
        top: 15%;
        left: 15%;
        width: 70%;
        height: 70%;
        border-radius: 50%;
        background-color: #009685
;
        opacity: 0.05;
        transition: opacity 0.3s ease;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: t-rem(80px);
        max-height: t-rem(80px);
        z-index: 5;

        @include t-respond-to-max(medium) {
            max-width: t-rem(26px);
            max-height: t-rem(26px);
        }
    }

    .e-blue-ui-icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        z-index: 10;

        &:after {
            width: 80px;
            height: 80px;
            background-size: 80px; 
        }
    }

    &:hover {

        &:before,
        &:after {
            opacity: 0.15;  
        }  
    }
}