#ui-datepicker-div {
    background-color: #eeeeee;
    padding: 15px 15px 0px 15px;
	border: 1px solid #aaaaaa;
}

.ui-icon.ui-icon-circle-triangle-e {
    font-weight: bold;
    padding: 15px;
}

.ui-icon.ui-icon-circle-triangle-w {
    font-weight: bold;
    padding: 15px;
}
a.ui-state-default {
    color: #333;
}
td.ui-datepicker-week-end > a {
    color: #333;
}
