/* Resources - Typography
------------------------- */

/// @font-face Injection
/// Iterates through the $s-fonts map to render each font import.
@each $font in map-keys($s-fonts) {
	$map: map-get($s-fonts, $font);
	$file: map-get($map, file);
	$weight: map-get($map, weight);
	$version: font-version($file);

	@font-face {
		font-family: $font;
		src: url($s-fonts-path + $file + '.eot?' + $version);
		src: url($s-fonts-path + $file + '.eot?#iefix') format('embedded-opentype'),
			url($s-fonts-path + $file + '.woff?' + $version) format('woff'),
			url($s-fonts-path + $file + '.ttf?' + $version) format('truetype');
		font-weight: $weight;
		font-style: normal;
	}
}
