/* Settings - Colours
------------------------- */

$s-colours: ( white: #FFFFFF, black: #000000, backgroundgrey: #333333, offwhite: #f3f3f3, darkergrey: #222222, darkgrey: #4e4f4f, grey: #53565a, lightgrey: #cdcdcd, lightergrey: #e8e8e8, blue: #009685, transblue: rgba(#009685, 0.1), lightblue: #009685, translightblue: rgba(#009685, 0.1), orange: #193E4B, transorange: rgba(#193E4B, 0.1), darkorange: #10B3CC, green: #008000, transgreen: rgba(#008000, 0.1), darkgreen: #025602ed, teal: #0C6E6B, purple: #009685, red: #193E4B, alertred: #f00, transblack: rgba(0, 0, 0, 0.3), transwhite: rgba(255, 255, 255, 0.3), transwhitestrong: rgba(255, 255, 255, 0.5), transgrey: rgba(0, 0, 0, 0.05) );

// Colours should not be used directly in modules, rather resolve them
// to meaningful variable names below and reference those.
// Eg. "primary nav text" or "cta background".
$s-colour: ( 
	background:                 map-get($s-colours, white),
    bodybackground:             map-get($s-colours, white),
    globalnavtext:              map-get($s-colours, white),
    globalnavbackground:        map-get($s-colours, blue),
    headerbackground:           map-get($s-colours, white),
    headertoolscta:             map-get($s-colours, orange),
    headertoolsctahover:        map-get($s-colours, darkorange),
    darkgreytext:               map-get($s-colours, darkergrey),
    headertools:                map-get($s-colours, grey),
    datetext:                   map-get($s-colours, grey),
    headertoolsdesktop:         map-get($s-colours, white),
    divider:                    map-get($s-colours, lightgrey),
    transdivider:               map-get($s-colours, transwhite),
    searchbg:                   map-get($s-colours, white),
    headersearchbg:             map-get($s-colours, white),
    mobilenavpanelbg:           map-get($s-colours, offwhite),
    boxshadows:                 map-get($s-colours, transblack),
    primarynavlinkunderline:    map-get($s-colours, red),
    primarynavlistbg:           map-get($s-colours, white),
    primarynavlinktext:         map-get($s-colours, darkergrey),
    primarynavlinkhover:        map-get($s-colours, ctablue),
    mobilenavitemhover:         map-get($s-colours, orange),
    footerheading:              map-get($s-colours, white),
    footerheadingunderline:     map-get($s-colours, transwhite),
    footerlink:                 map-get($s-colours, white),
    footersecondary:            map-get($s-colours, transblack),
    footerlinkhover:            map-get($s-colours, lightblue),
    breadcrumbtext:             map-get($s-colours, grey),
    breadcrumblink:             map-get($s-colours, blue),
    breadcrumblinkhover:        map-get($s-colours, lightblue),
    cstext:                     map-get($s-colours, grey),
    cslink:                     map-get($s-colours, blue),
    cslinkhover:                map-get($s-colours, lightblue),
    forminputtext:              map-get($s-colours, grey),
    forminputbackground:        map-get($s-colours, offwhite),
    formicons:                  map-get($s-colours, lightblue),
    ctaicons:                   map-get($s-colours, orange),
    buttonbluebg:               map-get($s-colours, lightblue),
    buttonbluetext:             map-get($s-colours, white),
    buttonblueborder:           map-get($s-colours, lightblue),
    buttonbluehoverbg:          map-get($s-colours, blue),
    buttonbluehovertext:        map-get($s-colours, white),
    buttonbluehoverborder:      map-get($s-colours, blue),
    buttonwhitebg:              map-get($s-colours, white),
    buttonwhitetext:            map-get($s-colours, lightblue),
    buttonwhiteborder:          map-get($s-colours, lightblue),
    buttonwhitehoverbg:         map-get($s-colours, blue),
    buttonwhitehovertext:       map-get($s-colours, white),
    buttonwhitehoverborder:     map-get($s-colours, blue),
    buttonwhiteltbg:            map-get($s-colours, white),
    buttonwhitelttext:          map-get($s-colours, lightblue),
    buttonwhiteltborder:        map-get($s-colours, lightblue),
    buttonwhitelthoverbg:       map-get($s-colours, lightblue),
    buttonwhitelthovertext:     map-get($s-colours, white),
    buttonwhitelthoverborder:   map-get($s-colours, lightblue),
    buttonorangebg:             map-get($s-colours, orange),
    buttonorangetext:           map-get($s-colours, white),
    buttonorangeborder:         map-get($s-colours, orange),
    buttonorangehoverbg:        map-get($s-colours, darkorange),
    buttonorangehovertext:      map-get($s-colours, white),
    buttonorangehoverborder:    map-get($s-colours, darkorange),
    buttongreenbg:             map-get($s-colours, green),
    buttongreentext:           map-get($s-colours, white),
    buttongreenborder:         map-get($s-colours, green),
    buttongreenhoverbg:        map-get($s-colours, darkgreen),
    buttongreenhovertext:      map-get($s-colours, white),
    buttongreenhoverborder:    map-get($s-colours, darkgreen),
    personimageshadow:          map-get($s-colours, transblack),
    personimageborder:          map-get($s-colours, lightgrey),
    personname:                 map-get($s-colours, blue),
    personnamehover:            map-get($s-colours, lightblue),
    personcopy:                 map-get($s-colours, darkergrey),  
    personbordered:             map-get($s-colours, lightgrey),  
    testimonialname:            map-get($s-colours, blue),
    testimonialcopy:            map-get($s-colours, darkergrey),
    testimonialquotation:       map-get($s-colours, lightblue),
    testimonialimageline:       map-get($s-colours, orange),
    testimonialnoimageborder:   map-get($s-colours, lightgrey),
	accordionitemtitle:         map-get($s-colours, blue),
    accordionitemtoggle:        map-get($s-colours, lightblue),
    richtextheadings:           map-get($s-colours, blue),
    richtextanchors:            map-get($s-colours, blue),
    richtextanchorshover:       map-get($s-colours, lightblue),
    richtextbulletpoints:       map-get($s-colours, lightblue),
    videolink:                  map-get($s-colours, white),
    videolinkhover:             map-get($s-colours, blue),
	videoplaybutton:            map-get($s-colours, lightblue),
    videoplaybuttoncolour:      map-get($s-colours, white),
    videolinkoverlay:           map-get($s-colours, transblack),
    subnavbackground:           map-get($s-colours, transgrey),
    subnavtext:                 map-get($s-colours, darkergrey),
    currentsubnav:              map-get($s-colours, orange),
    subnavsubtitle:             map-get($s-colours, grey),
    featuredbackground:         map-get($s-colours, translightblue),
    formvalidationerrortext:    map-get($s-colours, alertred),
    formvalidationerrorborder:  map-get($s-colours, alertred),
    promoblockbackground:       map-get($s-colours, blue),
    promoblockcolour:           map-get($s-colours, white),
    promoblocktitle:            map-get($s-colours, white),
    promoblocktitlesep:         map-get($s-colours, white),
    promoblockdotcolour:        map-get($s-colours, transwhite),
    promoblockdotcolourhover:   map-get($s-colours, white),
    paginationarrow:            map-get($s-colours, lightblue),
    paginationarrowhover:       map-get($s-colours, darkergrey),
    paginationtext:             map-get($s-colours, darkergrey),
    paginationdisabled:         map-get($s-colours, lightgrey),
    imagecaptionborder:         map-get($s-colours, lightgrey),
    searchresultinfotext:       map-get($s-colours, grey),
    tabletheadtextcolour:       map-get($s-colours, white),
    tabletheadbackground:       map-get($s-colours, teal),
    tablerowbordercolour:       map-get($s-colours, lightgrey),
    tablerowbackground:         map-get($s-colours, offwhite),
    mfpcaptionsubtitlecolor:    map-get($s-colours, grey),
    mfpcaptiontitlecolor:       map-get($s-colours, darkgrey),
    mfpcontrolscolor:           map-get($s-colours, grey),
    mfpcontrolsbordercolor:     map-get($s-colours, lightgrey),
    mfpcontrolsbordercolorhover:map-get($s-colours, white),
    mfpcontrolstextcolor:       map-get($s-colours, lightgrey),
    mfpiframebg:                map-get($s-colours, black),
    mfpinlinebg:                map-get($s-colours, white),
    mfpinnercloseiconcolor:     map-get($s-colours, darkergrey),
    mfpimagebg:                 map-get($s-colours, darkgrey),
    mfpoverlaycolor:            map-get($s-colours, white),
    productbackgroundcolour:    map-get($s-colours, white),
    productbordercolour:        map-get($s-colours, lightgrey),
    productbordertopcolour:     map-get($s-colours, lightergrey),
    productimagebackground:     map-get($s-colours, transgrey),
    productnotecolour:          map-get($s-colours, grey),
    producttitlecolour:         map-get($s-colours, blue),
    producttitletype:           map-get($s-colours, grey),
    productcarouselbg:          map-get($s-colours, translightblue),
    productcarouselwhitebg:     map-get($s-colours, white),
    productcarouseldot:         map-get($s-colours, lightblue),
    productdetailcoursebg:      map-get($s-colours, blue),
    productdetailcourseicon:    map-get($s-colours, white),
    productdetailbutton:        map-get($s-colours, lightblue),
    productdetailbuttonhover:   map-get($s-colours, blue),
    productdetailborder:        map-get($s-colours, lightgrey),
    productdetailtitle:         map-get($s-colours, blue),
    productdetailpageborder:    map-get($s-colours, lightgrey),
    productdetailpageimage:     map-get($s-colours, offwhite),
    productdetailpagetitle:     map-get($s-colours, blue),
    productdetailhours:         map-get($s-colours, blue),
    productdetailhoursicon:     map-get($s-colours, white),
    productdetailhourscolour:   map-get($s-colours, white),
    productdetailtype:          map-get($s-colours, white),
    productpriceoldcolour:      map-get($s-colours, darkergrey),
    productpricecolour:         map-get($s-colours, red),
    containerblockdot:          map-get($s-colours, lightblue),
    productprice:               map-get($s-colours, darkergrey),
    productpricecallout:        map-get($s-colours, red),
    productpricecaveat:         map-get($s-colours, red),
    productbundleheading:       map-get($s-colours, red),
    joinpromoblockbg:           map-get($s-colours, blue),
    joinpromoblockbullet:       map-get($s-colours, lightblue),
    joinpromoblocktext:         map-get($s-colours, white),
    herobackground:             map-get($s-colours, black),
    herotitle:                  map-get($s-colours, blue),
    herotitledesktop:           map-get($s-colours, white),
    heroparagraphdesktop:       map-get($s-colours, white),
    herocarouseltabsactive:     map-get($s-colours, orange),
    herocarouseltab:            map-get($s-colours, white),
    herocarouseltabsbackground: map-get($s-colours, transblack),
    herocarouseltabsborder:     map-get($s-colours, lightgrey),
    herocarouselarrowcolour:    map-get($s-colours, white),
    herocarouseldotcolour:      map-get($s-colours, transwhite),
    herocarouseldotcolouractive:map-get($s-colours, white),
    herocarouselgradend:        map-get($s-colours, transblack),
    featuredcontentbg:          map-get($s-colours, blue),
    featuredcontenthoverbg:     map-get($s-colours, lightblue),
    featuredcontentcopy:        map-get($s-colours, white),
    featuredcarouselpips:       map-get($s-colours, blue),
    productlistingbluebg:       map-get($s-colours, translightblue),
    tabcontrolborder:           map-get($s-colours, lightgrey),
    tabcontrolborderactive:     map-get($s-colours, white),
    tabcontrolbackground:       map-get($s-colours, offwhite),
    tabcontrolbackgroundactive: map-get($s-colours, white),
    tabcontroltoggleicon:       map-get($s-colours, lightblue),
    tabcontroltoggletextmobile: map-get($s-colours, blue),
    tabcontroltabtext:          map-get($s-colours, black),
    herocutoutoverlap:          map-get($s-colours, white),
    herocutoutpicturebg:        map-get($s-colours, blue),
    newsdetailborder:           map-get($s-colours, lightgrey),
    accountsectionborder:       map-get($s-colours, lightgrey),
    accountdefaultaddressbg:    map-get($s-colours, lightgrey),
    ordersectionborder:         map-get($s-colours, lightgrey),
    orderdiscount:              map-get($s-colours, red),
    ordertotal:                 map-get($s-colours, black),
    orderitemsrowborder:        map-get($s-colours, lightgrey),
    orderitembackground:        map-get($s-colours, offwhite),
    orderitemtitle:             map-get($s-colours, blue),
    orderitemformattext:        map-get($s-colours, grey),
    orderoverviewborder:        map-get($s-colours, lightgrey),
    bookstatsummarylabel:       map-get($s-colours, grey),
    cartaction:                 map-get($s-colours, blue),
    quantitynavarrows:          map-get($s-colours, lightblue),
    spinnerOverlay:             map-get($s-colours, transwhitestrong),
    checkoutcontacttext:        map-get($s-colours, grey),
    entitybannertext:           map-get($s-colours, white),
    entitybannerbgana:          map-get($s-colours, orange),
    entitybannerbgancc:         map-get($s-colours, blue),
    entitybannercoursebgancc:   map-get($s-colours, white),
    entitybannercoursetextancc: map-get($s-colours, blue),
    entitybannerbgfnd:          map-get($s-colours, lightblue),
    notificationtext:           map-get($s-colours, red),
    advertbackground:           map-get($s-colours, transgrey),
    adverttitle:                map-get($s-colours, grey),
    cardbackground:             map-get($s-colours, offwhite),
    paginationactivebg:         map-get($s-colours, translightblue),
    paginationactivetext:       map-get($s-colours, lightblue),
    filtersclearbg:             map-get($s-colours, offwhite),
    searchpagelightblue:        map-get($s-colours, lightblue),
    homeheroplaybutton:         map-get($s-colours, blue),
    homeheroplaybuttonhover:    map-get($s-colours, lightblue),
    homeheroborder:             map-get($s-colours, orange)
);

$s-themes: (
	lightgrey: (
		background-colour:  map-get($s-colours, bglightgrey),
		text-colour: map-get($s-colours, darktextgrey) 
	)
);
