// Main colors

$ojin-cloudburst:#1E2E49;
$ojin-cloudburstLight: #6C7788;
$ojin-orange: #CF4520;
$ojin-lightGray: #F6F6F3;
$ojin-lightGray2: #BBC0C8;
$ojin-darkGray: #707070;
$ojin-brown: #C9A27A;
$ojin-cream: #E3D6CE;
$black : #000000;
$white: #ffffff;
