$MontserratFont: 'Montserrat', sans-serif;
$FontAwesome: 'FontAwesome';

$h1-size: 3.5rem;
$h2-size: 3.2rem;
$h3-size: 2.2rem;
$h4-size: 1.6rem;

$transition-ease: all 0.5s ease-in-out;
$transition-ease-fast: all 0.25s ease-in-out;







