$c-cart-summary-discount-width: 80px;

.c-cart-summary {

    &__row {
        
        position: relative;
        padding-top: t-rem($s-layout-gutter-mobile-large);
        padding-bottom: t-rem($s-layout-gutter-mobile-large);

        &--border-top {
            border-top: 1px solid t-brand-colour(divider);
        }

        &--border-bottom {
            border-bottom: 1px solid t-brand-colour(divider);
        }
    }
    
    &__action {

        display: block;
        color: t-brand-colour(cartaction);
        cursor: pointer;
        user-select: none;
        text-decoration: underline;

        @include t-default-link-interaction;

        &--add {

            @include t-icon(icon-expand, before) {

                text-decoration: none;
                font-size: t-rem(12px);
            }
        }

        &--right {

            text-align: right;
        }
    }

    &__discount {
       
        list-style: none;

        &-list {

            @include t-vertical-spacing(small, margin-top);
            margin-bottom: 0;

            &:empty {
                @include t-vertical-spacing(xsmall, margin-top);
            }
        }

        &-line {

            margin: 0;
            text-align: right;

            em {
                font-style: normal;
            }

            span {
                display: inline-block;
                width: t-rem($c-cart-summary-discount-width);
            }
        }

        &-total,
        &-amount,
        &-remove,
        &-title,
        &-caveat {
            
            text-align: right;
        }

        &-remove {

            @include t-type-caption;
            @include t-default-link-interaction;

            display: inline-block;
            width: t-rem($c-cart-summary-discount-width);
            color: t-brand-colour(cartaction);
        }

        &-caveat {

            @include t-type-caption;
            margin: 0;
        }

        &-title,
        &-amount {

            margin-bottom: t-rem($s-layout-gutter-mobile-tiny);
        }

        &-amount {
            display: inline-block;
            width: t-rem($c-cart-summary-discount-width);
        }

        &-panel {
            
            overflow: hidden;
            padding-top: t-rem($s-layout-gutter-mobile-large);

            form {
                margin-bottom: 0;
            }
        }

        &-heading {

            @include t-vertical-spacing(xsmall, margin-bottom);
            @include t-type-h4;

            display: block;
        }

        &-input {

            margin-right: t-rem($s-layout-gutter-mobile-small);
            margin-bottom: t-rem($s-layout-gutter-mobile-large);

            @include t-respond-to-min(medium) {
                
                margin-bottom: 0;
            }
        }
    }

    .js & [data-add-discount-code-panel] {
        display: none;
    }

    &__terms {
        
        margin-top: 0;

        .e-form__label {
            margin-top: 0;
        }
    }

    &__subtotal {

        @include t-type-p2;
        
        color: t-brand-colour(darkgreytext);
        text-align: right;
    }

    &__promo {

        padding-bottom: t-rem($s-layout-gutter-mobile-large);
    }

    &__donation {

        margin-bottom: t-rem($s-layout-gutter-mobile-large);

        &-total {
            text-align: right;
        }

        &-desc {

            padding-top: t-rem($s-layout-gutter-mobile-medium);
            padding-bottom: t-rem($s-layout-gutter-mobile-medium);

            &:first-child {
                padding-top: 0;
            }
        }
    }

    &__button {

        width: 100%;
        text-align: center;

        &--checkout {
    
            display: block;
        }

        &--donate {

            @include t-respond-to-max(small) {
                margin-bottom: t-get-vertical-spacing(xsmall, small);
            }
        }
    }

    &__checkout {

        &-caveat {

            @include t-type-caption;

            margin-top: t-rem($s-layout-gutter-mobile-large);
            margin-bottom: 0;
            text-align: right;

            &-link {
                @include t-default-link-interaction;
            }
        }
    }

    .e-form__label {

        width: 100%;
    }

    .e-form__label-text {

        text-align: right;
        width: 100%;

        @include t-respond-to-max(small){
            
            margin-top: 0;
        }
    }
}
